@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  margin: 0px;
}

a:visited,
a:link {
  color: black;
}
